html {
    scroll-behavior: smooth;
}

.welcome {
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.homepage_header {
    text-align: center;
}

.welcome_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    margin: auto;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50px;
    margin: auto;
  }